.PropEditor {
  width: 300px;
  border-left: 1px solid grey;
  padding-left: 10px;
}

.props > div {
  display: flex;
  margin-top: 5px;
}

.props > div > * {
  flex: 1;
}

code {
  margin-top: 2em;
  display: block;
  word-wrap: break-word;
}
