.App {
  display: flex;
  height: 100vh;
}

.App > * {
  margin: 20px;
}

textarea {
  font-size: 18px;
  flex: 1;
}

.preview {
  flex: 1;
}
.preview > main {
   position: relative;
   margin-left: 30px;
}
.preview > main * {
  cursor: pointer;
}
.preview > main aside {
  border-left: 1px solid lightgrey;
  position: absolute;
  width: 15px;
}
.preview > main aside:hover {
  background: lightgrey;
}
