.App {
  display: flex;
  height: 100vh;
}

.App > * {
  margin: 20px;
}

textarea {
  font-size: 18px;
  flex: 1;
}

.preview {
  flex: 1;
}
.preview > main * {
  cursor: pointer;
}
.preview > main * {
   position: relative;
}
.preview > main *:hover::before {
  content: '';
  border-left: 1px solid lightgrey;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -25px;
}
