.App {
  display: flex;
  height: 100vh;
}

.App > * {
  padding: 20px;
}

textarea {
  font-size: 18px;
  flex: 1;
  border: none;
  border-right: 1px solid grey;
  resize: none;
}

.preview {
  flex: 1;
  overflow-y: scroll;
}
.preview > main {
   position: relative;
   margin-left: 50px;
}
.preview > main * {
  cursor: pointer;
}
.preview > main aside {
  border-left: 1px solid lightgrey;
  position: absolute;
  width: 15px;
}
.preview > main aside:hover {
  background: lightgrey;
}
